/**
 * @theme werktisch
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 * @size FHD 1920px 1080px
 * @size 1:1 1280px 1280px
 * @size HFHD 960px 1080px
 */
@import "uncover";

section {
    width: 1280px;
    height: 720px;
    font-family: "Helvetica", "Hiragino Kaku Gothic ProN";
    cursor: url("https://werktisch.github.io/marp_theme/themes/images/laser_pointer-red.png"), pointer;
}

section.title {
    font-weight: 600;
    text-align: center;
}

section.title h1 {
    font-size: 76px;
}

section.title p {
    font-size: 50px;
}

li {
    font-size: 50px;
}
